Dialback secrets are generated using a non-cryptographically secure PRNG

If the configuration specifies no dialback secret, then it is generated here:

https://github.com/jabberd2/jabberd2/blob/c877f6879af18b4cec8e6b60ff32e7d85ed0e658/s2s/main.c#L163

Then this secret is used to generate dialback keys deterministically from the remote server name and stream id:

https://github.com/jabberd2/jabberd2/blob/c877f6879af18b4cec8e6b60ff32e7d85ed0e658/s2s/util.c#L61

However, `rand()` is not cryptographically secure. This means that an attacker who receives a dialback key can brute-force the dialback secret easily. With the secret, the attacker can impersonate the jabberd2 server to any other server that uses dialback.

The dialback secret should be generated using a CSPRNG, for example `RAND_bytes` from OpenSSL.

By the way, stream IDs are also generated using `rand()`:

https://github.com/jabberd2/jabberd2/blob/c877f6879af18b4cec8e6b60ff32e7d85ed0e658/sx/server.c#L150

But [RFC 6120 §4.7.3](https://tools.ietf.org/html/rfc6120#section-4.7.3) specifies that they must be unpredictable.

Could you explain the feasibility of such attack?

My very naive single-core implementation would take ~2 hours to brute force all 2<sup>32</sup> possible seeds to `srand`. Optimized across a couple of GPUs that's probably doable in a minute.

But that's probably way overkill in practice. `srand(time(NULL))` is called just before `_s2s_config_expand` which generates the secret:

https://github.com/jabberd2/jabberd2/blob/c877f6879af18b4cec8e6b60ff32e7d85ed0e658/s2s/main.c#L838

It is generally pretty easy to observe when an XMPP server restarts: connections to other servers and clients are closed and the server may even tell you freely:

https://github.com/jabberd2/jabberd2/blob/c877f6879af18b4cec8e6b60ff32e7d85ed0e658/sm/mod_iq_last.c#L33

Even a range of a couple of days leaves only a much smaller number of values to check (can probably be brute-forced in seconds).

I'm sorry, but I really do not get it. Just a simple programmer here, not a security expert.

I am sure that the issue is obvious to you, but not to me. Could you use some layman terms to explain the issue? Not understanding the cause it is impossible to come up with a fix.

IIUC replacing `rand()` with OpenSSL `RAND_bytes()` should fix this issue?

The exact details of how to carry out the attack aren't that important. The core issue is that the dialback secret should be _secret_, and secrets should be generated using a cryptographically secure PRNG, indeed such as `RAND_bytes()`.