Accepted presence subscription never signaled to the subscriber

This is a follow-up based on a disussion on the mailing list: [archive](http://www.mail-archive.com/jabberd2@lists.xiaoka.com/msg02425.html)

The subscriber of a contact's presence does not get informed with a presence stanza of type "subscribed" (compare RFC6121 section 3.1.5.)

router debug log: [router_subscribed.txt](https://github.com/jabberd2/jabberd2/files/202075/router_subscribed.txt)
sm debug log: [sm_subscribed.txt](https://github.com/jabberd2/jabberd2/files/202056/sm_subscribed.txt)
c2s debug log: [c2s_subscribed.txt](https://github.com/jabberd2/jabberd2/files/202076/c2s_subscribed.txt)


```xml
sx (io.c:96) completed nad:
<route xmlns='http://jabberd.jabberstudio.org/ns/component/1.0' from='c2s' to='localhost'>
 <presence xmlns:sc='http://jabberd.jabberstudio.org/ns/session/1.0' xmlns='jabber:client' sc:sm='f7d082f5925c61c2289ebc5531fa40dcb3ffe8ee' sc:c2s='10' from='user1@localhost/testclient' type='subscribed' to='gloox@localhost'/>
</route>
```
According to RFC6121 3.1.5. server should replace `from='user1@localhost/testclient'` with `from='user1@localhost'`, but
```xml
sx (io.c:421) queueing for write:
<route xmlns='http://jabberd.jabberstudio.org/ns/component/1.0' from='localhost' to='localhost'>
 <presence xmlns='jabber:client' from='user1@localhost/testclient' type='subscribed' to='gloox@localhost'/>
</route>
```

When this stanza arrived back to SM:
```xml
sx (io.c:96) completed nad:
<route xmlns='http://jabberd.jabberstudio.org/ns/component/1.0' from='localhost' to='localhost'>
 <presence xmlns='jabber:client' from='user1@localhost/testclient' type='subscribed' to='gloox@localhost'/>
</route>
[...]
Fri Apr  1 14:49:59 2016 mm.c:602 dispatching pkt-user chain
Fri Apr  1 14:49:59 2016 mm.c:615 calling module roster
Fri Apr  1 14:49:59 2016 pkt.c:316 freeing pkt
Fri Apr  1 14:49:59 2016 mm.c:622 pkt-user chain returning 0
```

Got it!
It was dropped because of the following code in `mod_roster.c:615` `_roster_pkt_user()
```c
    /* get the roster item */
    item = (item_t) xhash_get(user->roster, jid_full(pkt->from));
    if(item == NULL) {
        /* subs are handled by the client */
        if(pkt->type == pkt_S10N) {
            [...]
        }

        /* other S10Ns: we didn't ask for this, so we don't care */
        pkt_free(pkt);
        return mod_HANDLED;
    }
```
Notice xhash_get(user->roster, **jid_full(pkt->from)**) - as the `from='user1@localhost/testclient'` and there is no roster item for `user1@localhost/testclient`, the code drops `subscribed` stanza for non-existing roster item.

But, in `mod_roster.c:188` `_roster_in_sess_s10n()` there is a core to stamp s10n stanzas with bare JID of the session:
```c
    /* add a proper from address (no resource) */
    if(pkt->from != NULL)
        jid_free(pkt->from);

    pkt->from = jid_new(jid_user(sess->jid), -1);
    nad_set_attr(pkt->nad, 1, -1, "from", jid_full(pkt->from), 0);
```
which got called
```xml
sx (io.c:96) completed nad:
<route xmlns='http://jabberd.jabberstudio.org/ns/component/1.0' from='c2s' to='localhost'>
 <presence xmlns:sc='http://jabberd.jabberstudio.org/ns/session/1.0' xmlns='jabber:client' sc:sm='f7d082f5925c61c2289ebc5531fa40dcb3ffe8ee' sc:c2s='10' from='user1@localhost/testclient' type='subscribed' to='gloox@localhost'/>
</route>
[...]
Fri Apr  1 14:49:59 2016 mod_roster.c:182 got s10n packet
```

Need to investigate further...

I found that `mod_deliver.c:39` is replacing `from='user1@localhost'` again with `from='user1@localhost/testclient'` before sending the packet:
```
/* ensure from is set correctly if not already by client */
if(pkt->from == NULL || jid_compare_user(pkt->from, sess->jid) != 0
   || (!(pkt->type & pkt_PRESENCE) && jid_compare_full(pkt->from, sess->jid) != 0)) {
    if(pkt->from != NULL)
        jid_free(pkt->from);

    pkt->from = jid_dup(sess->jid);
    nad_set_attr(pkt->nad, 1, -1, "from", jid_full(pkt->from), 0);
}
```
The full JID is compared for non-presence packets. If not matching, the `from` gets overwritten. Maybe this should be restricted to non-subscribed packets as well?

Good catch!

The cause is cdf4d372